.my-auto.mx-auto
  .text-center
    %h2 #{I18n.t(:'forgot_password_page.forgot_pass_label')}
  .general-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-outline.mb-4
      .field
        = f.label :email, class: 'form-label'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: I18n.t(:email_autocomplete), class: 'form-control'
      .form-outline.mb-4
      .actions
        .text-center
          = f.submit I18n.t(:'forgot_password_page.submit_btn_text'), class: 'btn btn-primary btn-block mb-4'
