%main
  %header.bg-dark.py-5
    .container.px-4.px-lg-5.my-5
      .text-center.text-white
        %h1.display-4.fw-bolder #{I18n.t(:'homepage.banner')}
        %p.lead.fw-normal.text-white-50.mb-0 #{I18n.t(:'homepage.login')}
  %section.py-5
    .container.px-4.px-lg-5.mt-5
      = turbo_frame_tag "movies_area"
      #movies_rows
        = render 'movies/partials/movie_row', movies_set: @movies
      .text-center
        = render partial: 'movies/partials/next_link', locals: { pagy: @pagy }
        -#.col.mb-5
        -#  .card.h-100
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Fancy Product
        -#        $40.00 - $80.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} View options
        -#.col.mb-5
        -#  .card.h-100
        -#    .badge.bg-dark.text-white.position-absolute{style: "top: 0.5rem; right: 0.5rem"} Sale
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Special Item
        -#        .d-flex.justify-content-center.small.text-warning.mb-2
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#        %span.text-muted.text-decoration-line-through $20.00
        -#        $18.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
        -#.col.mb-5
        -#  .card.h-100
        -#    .badge.bg-dark.text-white.position-absolute{style: "top: 0.5rem; right: 0.5rem"} Sale
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Sale Item
        -#        %span.text-muted.text-decoration-line-through $50.00
        -#        $25.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
        -#.col.mb-5
        -#  .card.h-100
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Popular Item
        -#        .d-flex.justify-content-center.small.text-warning.mb-2
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#        $40.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
        -#.col.mb-5
        -#  .card.h-100
        -#    .badge.bg-dark.text-white.position-absolute{style: "top: 0.5rem; right: 0.5rem"} Sale
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Sale Item
        -#        %span.text-muted.text-decoration-line-through $50.00
        -#        $25.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
        -#.col.mb-5
        -#  .card.h-100
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Fancy Product
        -#        $120.00 - $280.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} View options
        -#.col.mb-5
        -#  .card.h-100
        -#    .badge.bg-dark.text-white.position-absolute{style: "top: 0.5rem; right: 0.5rem"} Sale
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Special Item
        -#        .d-flex.justify-content-center.small.text-warning.mb-2
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#        %span.text-muted.text-decoration-line-through $20.00
        -#        $18.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
        -#.col.mb-5
        -#  .card.h-100
        -#    %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
        -#    .card-body.p-4
        -#      .text-center
        -#        %h5.fw-bolder Popular Item
        -#        .d-flex.justify-content-center.small.text-warning.mb-2
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#          .bi-star-fill
        -#        $40.00
        -#    .card-footer.p-4.pt-0.border-top-0.bg-transparent
        -#      .text-center
        -#        %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
