= turbo_frame_tag "movies_area" do
  = turbo_stream_action_tag("append", target: "movies_rows", template: %(#{render partial: 'movies/partials/movie_row', locals: {movies_set: @movies}}))
  = turbo_stream_action_tag("replace", target: "pager",template: %(#{render partial: 'movies/partials/next_link', locals: { pagy: @pagy }}))
