.mx-auto.my-auto
  .row.mx-auto
    .col-sm-6.mx-lg-5.mx-auto.my-auto
      .text-center
        %h2 #{I18n.t(:'about_page.about_message')}
    .col-sm-5.mx-lg-3
      .text-center
        %h2 #{I18n.t(:'about_page.task_conditions_label')}
      .fs-3
        #{I18n.t(:'about_page.task_conditions.using_ruby_label')}
      %ul
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_1')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_2')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_3')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_4')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_5')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_6')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_7')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_8')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_9')}
        %li
          .fs-4 #{I18n.t(:'about_page.task_conditions.condition_10')}
